{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr class="text-white">
            <h2 class="logo-font mb-4 text-center text-uppercase">Shopping Bag</h2>
            <hr class="text-white">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded text-white">
                    <table class="table table-sm table-borderless">
                        <thead class="text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img src="{{ item.product.image.url }}" alt="product image" class="img-fluid rounded">
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 text-white"><small>SKU {{ item.product.sku|upper }}</small></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">{{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 text-white">€{{ item.product.price }}</p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left text-white"></i>
                </span>
                <span class="text-uppercase text-white">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}