{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <h1 class="display-4">Check out our latest arrival's
        </h1>
        <div class="my-5">
            <h4>
                <a href="" class="btn btn-lg rounded-0 text-uppercase py-3">
                 Explore our collection
                </a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}



